/* import version */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@movieTone/ui/src/shared-globals.css';

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

body::-webkit-scrollbar {
  display: none;
}

.slick-next {
  right: 10px;
}

.slick-prev {
  top: calc(50% - 35px);
  left: 10px;
  z-index: 1;
}
.slick-prev {
  transform: rotate(180deg);
}

.slick-next::before,
.slick-prev::before {
  content: none;
}

.animate-in {
  opacity: 1;
}

.slick-arrow {
  height: 70px;
  width: 45px;
  border: 1px solid white;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/chevron-r.svg');
  transition:
    background-color 0.2s,
    border 0.35s,
    backdrop-filter 0.2s;
}

.slick-arrow:hover {
  border: 1px solid #ee82ee;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/chevron-r.svg');
}

.slick-arrow:focus {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/chevron-r.svg');
}

/* @layer components {
} */

/* to override original styles we use utilities */
@layer utilities {
  .btn_dark {
    @apply backdrop-blur-xl bg-transparent border text-white border-gray-700 shadow-none hover:bg-gray-800 hover:border-myViolet transition-all duration-500 ease-in-out;
  }
  .btn_light {
    @apply backdrop-blur-xl bg-transparent border text-black  shadow-none hover:bg-gray-100 transition-all duration-500 ease-in-out;
  }
  .search_btn_dark {
    @apply bg-transparent text-white shadow-none hover:bg-gray-800 rounded-none rounded-e-lg  border-0;
  }
  .search_btn_light {
    @apply bg-transparent text-black  shadow-none hover:bg-gray-100 rounded-none rounded-e-md  border-0;
  }
  .bg-gradient-dark {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      4deg,
      rgba(0, 0, 0, 1) 40%,
      rgba(103, 103, 103, 1) 100%
    );
  }
}

/* can be also */
/* @import '../../../packages/ui/src/shared-global.css';
@tailwind base;
@tailwind components;
@tailwind utilities; */

/* border-['hsl(214.3, 31.8%, 91.4%)'] */
