/* import version */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@movieTone/ui/src/shared-globals.css';

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.slick-next::before {
  color: white;
}
.slick-next {
  right: 10px;
}
.slick-prev::before {
  color: white;
}
.slick-prev {
  left: 10px;
  z-index: 1;
}

body::-webkit-scrollbar {
  display: none;
}

.animate-in {
  opacity: 1;
}

.slick-arrow {
  height: 70px;
  width: 45px;
  border: 1px solid white;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  transition:
    background-color 0.2s,
    border 0.35s,
    backdrop-filter 0.2s;
}

.slick-arrow:hover {
  background-color: transparent;
  border: 1px solid teal;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-position: center;
}
.slick-next {
  background-image: url('./assets/chevron-r.svg');
}
.slick-next:hover {
  background-image: url('./assets/chevron-r.svg');
}
.slick-prev {
  background-image: url('./assets/chevron-l.svg');
}
.slick-prev:hover {
  background-image: url('./assets/chevron-l.svg');
}
.slick-next::before,
.slick-prev::before {
  content: none;
}

/* @layer components {
} */

/* to override original styles we use utilities */
@layer utilities {
  .btn_dark {
    @apply bg-transparent  border-[1px] text-white border-gray-700 shadow-none hover:bg-gray-800;
  }
  .btn_light {
    @apply bg-transparent border-[1px] text-black  shadow-none hover:bg-gray-100;
  }
  .search_btn_dark {
    @apply bg-transparent text-white shadow-none hover:bg-gray-800 rounded-none rounded-e-lg  border-0;
  }
  .search_btn_light {
    @apply bg-transparent text-black  shadow-none hover:bg-gray-100 rounded-none rounded-e-md  border-0;
  }
}

/* can be also */
/* @import '../../../packages/ui/src/shared-global.css';
@tailwind base;
@tailwind components;
@tailwind utilities; */

/* border-['hsl(214.3, 31.8%, 91.4%)'] */
